body {
  background-color: #FDF06F;
  margin: 0 auto;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.nav {
  display: flex;
  flex-direction: row;
}

.auth-nav {
  display: flex;
  flex-direction: row;
}

.nav-link {  
  color: #EF3E4A; 
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  padding: 20px; 
}

.nav-link:hover {
  border: 2px solid #EF3E4A;
}

.nav-link:visited {
  color: #EF3E4A;
}


/*font-family: 'Permanent Marker', cursive;
font-family: 'Quicksand', sans-serif;*/