body {
  background-color: #FDF06F;
  margin: 0 auto;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.header {
  color: #117ACA;
  font-family: 'Permanent Marker', cursive;
  font-size: 44px;
  letter-spacing: 5px;
  border-top: 40px;
}



.nav {
  display: flex;
  flex-direction: row;
  border-top: 40px;
}

.auth-nav {
  display: flex;
  flex-direction: row;
}

.nav-link {  
  color: #EF3E4A; 
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  padding: 20px; 
}

.nav-link:hover {
  border: 2px solid #EF3E4A;
  font-weight: bold;  
}

.nav-link:visited {
  color: #EF3E4A;
}

.login-box {
  height: 50px;
  width: 300px;
  font-size: 28px;
  border-radius: 10px 10px 13px 14px;
}

.login-submit {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  background-color: white;
  border-color: white;
  font-size: 18px;
}

.pet-inlist {
  padding-left: 33%;
}

.list-header {
  color: #117ACA;
  font-family: 'Quicksand', sans-serif;
}

.link-header {
  color: #117ACA;
  font-family: 'Quicksand', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.list-link {
  color: #EF3E4A;
  font-family: 'Quicksand', sans-serif;
}

.list-link:hover {
  color: #117ACA;
  font-weight: bold;
}

.pet-name {
  color: #117ACA;
  font-family: 'Quicksand', sans-serif;
  font-size: 42px;
  font-weight: bold;  
}

.pet-type {
  color: #117ACA;
  font-family: 'Quicksand', sans-serif;
  font-size: 32px;  
}

.pet-length {
  color: #117ACA;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;  
}

.pet-details {
  color: #117ACA;
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  font-weight: bold;   
}

.pet-description {
  color: #117ACA;
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  width: 500px;
}

.footer {
  color: #117ACA;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding-top: 60px;
}